@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #C3E92D #242424;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  background: #C3E92D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A3D82D;
}